<section id="student-q-test-awqaf-{{ id }}" class="student-q-test-awqaf">
    <h6 class="text-white title">
        سبر الطالب للقرآن في وزارة الأوقاف
    </h6>
    <hr class="mt-4" style="border-color: white">
    <div>
        <h6 class="title text-white" style="background: rgb(109, 40, 193); border: 2px white solid">
            غيباً
        </h6>
        <div class="container text-white q-test-awqaf-container">
            {% for key, value in q_awqaf_test.items %}
                {% if value == 'NON' %}
                    <div class="other-block bg-secondary">{{ key }}</div>
                {% elif value == 'NEW' %}
                    <div class="other-block bg-success">{{ key }}</div>
                {% elif value == 'OLD' %}
                    <div class="other-block text-black bg-warning">{{ key }}</div>
                {% else %}
                    <div class="other-block bg-danger">{{ key }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <h6 class="title text-white" style="background: rgb(109, 40, 193); border: 2px white solid">
            نظراً
        </h6>
        <div class="container text-white q-test-awqaf-container">
            {% for key, value in q_awqaf_test_looking.items %}
                {% if value == 'NON' %}
                    <div class="other-block bg-secondary">{{ key }}</div>
                {% elif value == 'NEW' %}
                    <div class="other-block bg-success">{{ key }}</div>
                {% elif value == 'OLD' %}
                    <div class="other-block text-black bg-warning">{{ key }}</div>
                {% else %}
                    <div class="other-block bg-danger">{{ key }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <h6 class="title text-white" style="background: rgb(109, 40, 193); border: 2px white solid">
            تفسير
        </h6>
        <div class="container text-white q-test-awqaf-container">
            {% for key, value in q_awqaf_test_explaining.items %}
                {% if value == 'NON' %}
                    <div class="other-block bg-secondary">{{ key }}</div>
                {% elif value == 'NEW' %}
                    <div class="other-block bg-success">{{ key }}</div>
                {% elif value == 'OLD' %}
                    <div class="other-block text-black bg-warning">{{ key }}</div>
                {% else %}
                    <div class="other-block bg-danger">{{ key }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>