{% load static %}    
    <div class="card position-relative card-border" style="width: 285px">
        <div class="card-body">
            <div class="card-title text-dark mb-3">
                <b>الاسم الثلاثي:</b> {{ student.name }}
            </div>
            <div class="card-text">
                <ul class="list-group p-0 mb-3">
                    <li class="list-group-item"><b>المعرف: </b>{{ student.id }}</li>
                    <li class="list-group-item"><b>الفئة: </b>{{ student.category|default_if_none:"-" }}</li>
                    <li class="list-group-item"><b>المجموعة: </b>{{ student.student_group|default_if_none:"-" }}</li>
                    <li class="list-group-item"><b>العمر: </b>{% if student.age != 'تاريخ الميلاد غير محدد' %}{{ student.age }} سنة{% else %}-{% endif %}</li>
                    {% if user.is_authenticated %}  
                        <li class="list-group-item"><b>اسم الأم: </b>{{ student.mother_name|default_if_none:"-" }}</li>
                        <li class="list-group-item"><b>الأجزاء المستلمة: </b>{{ student.parts_received|default_if_none:"-" }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div data-model-target="#model-{{ student.id }}-id-detail" class="btn btn-primary position-absolute-bottom mt-3 translate-middle col-6 text-white">عرض التفاصيل</div>
        {% include 'models/student_detail_model.html' with student=student key="تفاصيل الطالب" type="detail" %}
        {% if user.is_authenticated %}
            <div data-model-target="#model-{{ student.id }}-id-add_q_memorize" class="btn btn-success position-absolute-bottom mt-3 translate-middle col-6 text-white">إضافة تسميع</div>
            {% include 'models/q_memorize_add_model.html' with student=student key="إضافة تسميع للطالب" type="add_q_memorize" %}
            <button data-model-target="#model-{{ student.id }}-id-create_note" class="btn btn-purple position-absolute-bottom mt-3 translate-middle col-6 text-white">إضافة ملاحظة</button>
            {% include 'models/create_notes_model.html' with student=student key="إضافة ملاحظة" type="create_note" %}
            <button data-model-target="#model-{{ student.id }}-id-add_q_test" class="btn btn-orange position-absolute-bottom mt-3 translate-middle col-6 text-white">إضافة سبر</button>
            {% include 'models/q_test_add_model.html' with student=student key="إضافة سبر" type="add_q_test" %}
            {% if 'حديث' in groups or user.is_superuser %}
                <button data-model-target="#model-{{ student.id }}-id-add_hadeeth" class="btn btn-primary position-absolute-bottom mt-3 translate-middle col-6 text-white">إضافة حديث</button>
                {% include 'models/add_hadeeth_model.html' with student=student key="إضافة حديث" type="add_hadeeth" %}
            {% endif %}
        {% endif %}
    </div>
    
