{% extends 'control_panel/admin_control_base.html' %}
{% load static specializations_filters %}


{% block title %}
    الاختصاصات
{% endblock title %}


{% block admin_content %}
    <div class="mt-3 d-flex justify-content-between flex-wrap gap-3 rounded p-3" style="background-color: #0018456b">
        <div id="basic-buttons-specializations" class="d-flex flex-wrap gap-3">
            <button id="edit-specializations-btn" class="btn btn-warning" style="white-space: nowrap">
                تعديل <i class="bi bi-gear-fill"></i>
            </button>
            <button id="submit-changes-specializations-btn" class="btn btn-success d-none" style="white-space: nowrap">
                حفظ التغييرات <i class="bi bi-check-lg"></i>
            </button>
            <button id="back-specializations-btn" class="btn btn-secondary d-none" style="white-space: nowrap">
                تراجع <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <button id="display-type-specializations-btn" class="btn btn-dark" data-type="main">
            عرض السجل لتسجيل الاختصاص <i class="bi bi-journal-bookmark-fill"></i>
        </button>
    </div>
    <div id="buttons-filters-bar" class="w-100 d-flex justify-content-center align-items-center flex-wrap gap-2 mt-3 p-3 rounded" style="background-color: #0018456b">
        <button class="btn btn-primary" data-sp="-1" style="width: 200px">
            الكل
        </button>
        {% for sp in specializations %}
            <button data-sp="{{ sp.id }}" class="btn btn-success" style="width: 200px">
                {{ sp }}
            </button>
        {% endfor %}
    </div>
    <div class="table-responsive mb-5 scrollbar-table">
        <table id="main-table-specializations" class="table table-dark table-bordered table-striped mt-3 mb-0 rounded text-center" style="white-space: nowrap;">
            <thead>
                <tr>
                    <th>المعرف</th>
                    <th>الاسم</th>
                    {% for part in parts %}
                        <th data-sp-item="{{ part.subject.specialization.id }}">
                            {{ part.part_content }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="main-tbody-admin-specializations">
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td style="white-space: nowrap">{{ student }}</td>
                        {% for part in parts %}
                            {% with selected_relation=part.studentspecializationpartrelation_set.all|get_relation:student.id %}
                                {% if selected_relation in student.studentspecializationpartrelation_set.all %}
                                    {% if selected_relation.is_old %}
                                        <td data-sp-item="{{ part.subject.specialization.id }}">قديم</td>
                                    {% else %}
                                        <td data-sp-item="{{ part.subject.specialization.id }}">تم</td>
                                    {% endif %}
                                {% else %}
                                    <td data-sp-item="{{ part.subject.specialization.id }}"></td>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tbody id="form-tbody-admin-specializations" class="d-none">
                <form action="{% url 'admin_specializations' %}" method="POST">
                    {% csrf_token %}
                    {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td style="white-space: nowrap">{{ student }}</td>
                            {% for part in parts %}
                                {% with selected_relation=part.studentspecializationpartrelation_set.all|get_relation:student.id %}
                                    {% if selected_relation in student.studentspecializationpartrelation_set.all %}
                                        {% if selected_relation.is_old %}
                                            <td data-sp-item="{{ part.subject.specialization.id }}">قديم</td>
                                        {% else %}
                                        <td data-sp-item="{{ part.subject.specialization.id }}">
                                            <input style="cursor: pointer;" class="form-check-input" type="checkbox" name="part_{{ part.id }}_student_{{ student.id }}" checked>
                                        </td>
                                        {% endif %}
                                    {% else %}
                                        <td data-sp-item="{{ part.subject.specialization.id }}">
                                            <input style="cursor: pointer;" class="form-check-input" type="checkbox" name="part_{{ part.id }}_student_{{ student.id }}">
                                        </td>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
        <table id="log-table-specializations" class="table table-dark table-bordered table-striped mt-3 mb-0 rounded text-center d-none">
            <thead>
                <tr>
                    <th>الأستاذ</th>
                    <th>الطالب</th>
                    <th>القسم</th>
                    <th style="white-space: nowrap;">تاريخ التسجيل</th>
                </tr>
            </thead>
            <tbody id="main-tbody-admin-specializations">
                {% for message in messages %}
                    <tr>
                        <td style="white-space: nowrap">{{ message.master.user.first_name }} {{ message.master.user.last_name }}</td>
                        <td style="white-space: nowrap">{{ message.student }}</td>
                        <td style="white-space: nowrap">{{ message.part }}</td>
                        <td style="white-space: nowrap">{{ message.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tbody id="form-tbody-admin-specializations" class="d-none">
                <form action="{% url 'admin_specializations' %}" method="POST">
                    {% csrf_token %}
                    {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td style="white-space: nowrap">{{ student }}</td>
                            {% for part in parts %}
                                {% if student in part.students.all %}
                                    <td>
                                        <input style="cursor: pointer;" class="form-check-input" type="checkbox" name="part_{{ part.id }}_student_{{ student.id }}" checked>
                                    </td>
                                {% else %}
                                    <td>
                                        <input style="cursor: pointer;" class="form-check-input" type="checkbox" name="part_{{ part.id }}_student_{{ student.id }}">
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/admin_specialization_script.js' %}"></script>
{% endblock admin_content %}