{% extends 'control_panel/admin_control_base.html' %}


{% block admin_content %}
    <div class="table-responsive mb-5 scrollbar-table">
        <table class="table table-dark table-bordered table-striped mb-0 mt-3 rounded text-center">
            <thead>
                <tr>
                    <th style="white-space: nowrap;">اسم الأستاذ</th>
                    <th style="white-space: nowrap;">اسم الطالب</th>
                    <th style="white-space: nowrap;">تاريخ الإرسال</th>
                    <th style="white-space: nowrap;">السبب</th>
                    <th style="white-space: nowrap;">القيمة</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for a_msg in a_msgs %}
                    <tr>
                        <td style="white-space: nowrap;">{{ a_msg.master_name }}</td>
                        <td style="white-space: nowrap;">{{ a_msg.student }}</td>
                        <td style="white-space: nowrap;">{{ a_msg.created_at }}</td>
                        <td style="white-space: nowrap;">{{ a_msg.cause }}</td>
                        <td style="white-space: nowrap;">{{ a_msg.value }}</td>
                        <td><a href="{% url 'adding_points_delete_admin' a_msg.id %}" class="btn btn-danger w-100">إزالة</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock admin_content %}