{% extends 'control_panel/admin_control_base.html' %}


{% block admin_content %}
    <div class="table-responsive mb-5 scrollbar-table">
        <table class="table table-dark table-bordered table-striped mb-0 mt-3 rounded">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" class="text-center">المعرف</th>
                    <th style="white-space: nowrap;" class="text-center">الاسم</th>
                    <th style="white-space: nowrap;" class="text-center">اسم الأم</th>
                    <th style="white-space: nowrap;" class="text-center">العمر</th>
                    <th style="white-space: nowrap;" class="text-center">العنوان تفصيلاً</th>
                    <th style="white-space: nowrap;" class="text-center">الهاتف الأرضي</th>
                    <th style="white-space: nowrap;" class="text-center">الجوال</th>
                    <th style="white-space: nowrap;" class="text-center">جوال الأب</th>
                    <th style="white-space: nowrap;" class="text-center">جوال الأم</th>
                    <th style="white-space: nowrap;" class="text-center">الفئة</th>
                    <th style="white-space: nowrap;" class="text-center">تاريخ التسجيل بالدورة</th>
                    <th style="white-space: nowrap;" class="text-center">عمل الأب</th>
                    <th style="white-space: nowrap;" class="text-center">ملاحظات</th>
                    <th style="white-space: nowrap;" class="text-center">الطالب الذي أحضره</th>
                    <th style="white-space: nowrap;" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td class="text-center" style="white-space: nowrap;">
                            <a class="text-white fw-bold text-decoration-none" href="{% url 'search_results' %}?q_search_id={{student.id}}">
                                {{ student.id }}
                            </a>
                        </td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.name }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.mother_name }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.age }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.address|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.static_phone|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.cell_phone|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.father_phone|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.mother_phone|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.category|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.registered_at }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.father_work|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.notes|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.bring_him|default_if_none:"-" }}</td>
                        <td class="text-center" style="white-space: nowrap;">
                            <a class="btn btn-warning w-100" href="{% url 'admin:main_app_student_change' student.id %}">
                                تعديل <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock admin_content %}