{% extends 'control_panel/admin_control_base.html' %}
{% load filters %}


{% block admin_content %}
    <div class="table-responsive mb-5 scrollbar-table">
        <table class="table table-dark table-bordered table-striped mb-0 mt-3 rounded">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" class="text-center">المعرف</th>
                    <th style="white-space: nowrap;" class="text-center">الاسم</th>
                    <th style="white-space: nowrap;" class="text-center">الأجزاء التي يستحق الطالب بها شهادة</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td class="text-center" style="white-space: nowrap;">
                            <a class="text-white fw-bold text-decoration-none" href="{% url 'search_results' %}?q_search_id={{student.id}}">
                                {{ student.id }}
                            </a>
                        </td>
                        <td class="text-center" style="white-space: nowrap;">{{ student.name }}</td>
                        <td class="text-center" style="white-space: nowrap;">
                            {% for part in student.q_test_certificate %}
                                {% if forloop.counter == 1 %}
                                    {{ part|part_format }}
                                {% else %}
                                    + {{ part|part_format }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock admin_content %}