.main-edit-q-memo {
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    padding-bottom: 2rem;
    padding-top: 20px;
    border-radius: 4px;
}

.drop-button, input[type="checkbox"], .form-check-label{
    cursor: pointer;
}

.form-check-label {
    user-select: none;
}

.drop-button.active svg{
    transform: rotate(90deg);
}

.error-content {
    width: 100%;
    text-align: center;
    border: 2px solid #dc3545;
    background-color: #dc35461d;
    border-radius: 5px;
    transform: scale(0);
    transition: .5s;
}

.error-content.active {
    transform: scale(1);
    padding: 1rem;
}