#admin-control-container {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 4rem;
    background-color: white;
    border: 2px solid var(--clr1);
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    padding-top: 20px;
    border-radius: 4px;
    position: relative;
}

#control-urls {
    margin: 0 auto;
    margin-top: 4rem;
    background-color: var(--clr4);
    padding: 0 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--clr6);
    gap: 1rem;
}

#control-basic-links-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

#control-basic-links-box * {
    width: 200px
}

@media (width < 520px) {

    #control-basic-links-box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #control-basic-links-box * {
        width: 100%
    }
}

#control-urls div:not(#control-basic-links-box) {
    transition: 0.2s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.block {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
}

.flex-block {
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 3px;
    padding-top: 2px;
    text-align: center;
}

.ramadan-table-message-color:nth-of-type(odd) td {
    box-shadow: inset 0px 0px 9999px #433d79 !important;
}

.ramadan-table-message-color:nth-of-type(even) td {
    background-color: #2d2953 !important;
}