@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

:root {
    --clr1: #0466C8;
    --clr2: #28386d;
    --clr3: #001233;
    --clr4: #001845;
    --clr5: #33415C;
    --clr6: #979DAC;
}

*:not(i) {
    scroll-behavior: smooth;
    font-family: 'Tajawal', sans-serif !important;
}

body {
    background-color: var(--clr2);
    position: relative;
    min-height: 100vh;
}

#page-wraper {
    padding-bottom: 5rem;
}

nav {
    background-color: var(--clr4);
}

@media (max-width: 991px) {
    nav ul {
        margin-top: 1rem;
    }
}

#main-nav li a {
    transition: .35s ease-in-out;
    color: white;
    border-radius: 5px;
}

#main-nav li a:hover {
    background-color: white;
    color: var(--clr4);
}

#main-nav .nav-item {
    transition: 0.1s;
    margin-left: 5px;
}

#main-nav .nav-item.active {
    border-top: 1px solid white;
}

#toggler-icon:focus {
    box-shadow: 0 0 0 0.25rem white !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--clr3);
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0 1rem;
}  

.title {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 12px;
    text-align: center;
    background-color: var(--clr1);
    padding: 12px;
}

.search{
    max-width: 800px;
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    margin-top: 6rem;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.one-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.card-border {
    margin-top: 1rem;
    border: 1px solid;
    width: 45%;
    background-color: white;
    border: 2px solid var(--clr1);
}

.card-border-danger {
    border: 4px solid rgb(218, 47, 47);
}

.model {
    overflow: overlay;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--clr2);
    width: 500px;
    height: 80vh;
    max-width: 89%;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 7px 0px white;
}

.model.active {
    transform: translate(-50%, -50%) scale(1);
}

.model-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid black;
}

.model-header .title-model {
    font-size: 1.25rem;
    font-weight: bold;
}

.model-header .close-btn {
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.model-body {
    padding: 10px 15px;
    background-color: var(--clr2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100%;
}

.model::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}

.model::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.model::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: rgba(0,0,0,0.2);
    background-clip: content-box;
}

#overlay {
    position: fixed;
    z-index: 5;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: .2s ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.common-box {
    max-width: 800px;
    margin-top: 6rem;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    padding-bottom: 2rem;
    padding-top: 20px;
    border-radius: 5px;
}

.common-box-without-bg {
    max-width: 800px;
    margin-top: 6rem;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 20px;
    border-radius: 5px;
}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6f42c1;
    --bs-btn-border-color: #6f42c1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4f3188;
    --bs-btn-hover-border-color: #4f3188;
    --bs-btn-focus-shadow-rgb: 135, 108, 186;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4f3188;
    --bs-btn-active-border-color: #4f3188;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6f42c1;
    --bs-btn-disabled-border-color: #6f42c1;
}

.btn-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffa500;
    --bs-btn-border-color: #ffa500;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #da8d00;
    --bs-btn-hover-border-color: #da8d00;
    --bs-btn-focus-shadow-rgb: 255, 217, 147;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #da8d00;
    --bs-btn-active-border-color: #da8d00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffa500;
    --bs-btn-disabled-border-color: #ffa500;
}

.determining-btn-container {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 50%;
    z-index: 2;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.determining-btn-container button {
    width: 100%;
    max-width: 600px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/** Logo Image Handling */
a:focus-visible .logo-image {
    outline: 2px solid white;
    border-radius: 10px;
}

.logo-image {
    top: -12px;
    width: 60px
}

@media (max-width: 992px) {
    .logo-image {
        width: 50px;
        top: -12px; 
        right: 5px;
    }
}

.search-table-control-p {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

@media (max-width: 770px) {
    .search-table-control-p * {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    footer {
        font-size: 14px;
    }
}

.search-table-control-p div {
    display: flex;
}

.search-table-control-p div label {
    background-color: white;
    padding: 7px;
    cursor: pointer;
    position: relative;
    background-color: white;
    transition: .3s ease;
    text-align: center;
}

.search-table-control-p div label input {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}

.search-table-control-p div label:nth-of-type(1) {
    border-radius: 0 4px 4px 0;

}

.search-table-control-p div label:nth-of-type(2) {
    border-radius: 4px 0 0 4px;
}

.activeChooseTable {
    background-color: rgb(109, 40, 193, 1) !important;
    color: white !important;
}

.only-big {
    display: none;
}

@media (min-width: 992px) {
    .only-big {
        display: block;
    }
}

/** scrollbar-table */
.scrollbar-table::-webkit-scrollbar {
    height: 10px;
}

.scrollbar-table::-webkit-scrollbar-track {
    background-color: var(--clr3);
}

.scrollbar-table::-webkit-scrollbar-thumb {
    background-color: rgb(4, 122, 255);
}

.scrollbar-table::-webkit-scrollbar-thumb:hover {
    background-color: rgb(4, 104, 218);
}

.scrollbar-table::-webkit-scrollbar-thumb:active {
    background-color: rgb(3, 70, 147);
}