:root {
    --clr1: #0466C8;
    --clr2: #28386d;
    --clr3: #001233;
    --clr4: #001845;
    --clr5: #33415C;
    --clr6: #979DAC;
}

.main-create-note {
    width: 100%;
    height: 100%;
    padding-bottom: 2.8rem;
}

.main-create-note form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
