.q_memo_content {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 60%;
    border: 3px solid var(--clr1);
    background-color: rgba(135, 135, 161, 0.103);
    border-radius: 5px;
}

.title {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 12px;
    text-align: center;
    background-color: var(--clr1);
    padding: 12px;
}