#search_results {
    margin-top: 6rem;
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    margin-bottom: 4rem;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 4px;
    position: relative;
}

.q-test-awqaf-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.other-block {
    width: 4rem;
    white-space: nowrap;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}