#search_results_coming {
    margin-top: 1rem;
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    padding-top: 20px;
    border-radius: 4px;
    position: relative;
}