:root {
    --clr1: #0466C8;
    --clr2: #28386d;
    --clr3: #001233;
    --clr4: #001845;
    --clr5: #33415C;
    --clr6: #979DAC;
}

#search_results_coming {
    margin-top: 6rem;
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    padding-top: 20px;
    border-radius: 4px;
    position: relative;
}