{% extends 'admin/base.html' %}
{% load static %}


{% block extrahead %}
    {% if masjed_name == "الحسنين" %}
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/hassanein-favicon.ico' %}">
    {% elif masjed_name == "السلام" %}
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/salam-favicon.ico' %}">
    {% elif masjed_name == "القزاز" %}
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/qazzaz-favicon.ico' %}">
    {% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

    * {
        font-family: 'Tajawal', sans-serif !important;
    }
</style>
{% endblock %}