{% extends 'base.html' %}


{% block title %}
    سجل الإضافة والخصم
{% endblock title %}

{% block content %}
    <div class="container common-box gap-5">
        <h3 class="title text-white">الإضافات <i class="bi bi-trophy"></i></h3>
        {% for a_msg in adding_msgs %}
            {% include 'partials/editing_points_card.html' with adding="True" content=a_msg %}
        {% endfor %}
        <hr class="w-100 bg-light">
        <h3 class="title text-white">الخصومات <i class="bi bi-emoji-frown"></i></h3>
        {% for d_msg in deleting_msgs %}
            {% include 'partials/editing_points_card.html' with adding="False" content=d_msg %}
        {% endfor %}
    </div>
{% endblock content %}