{% extends "base.html" %}

{% block title %}
تسجيل طالب جديد
{% endblock title %}

{% block content %}
    
    <form class="container rounded p-3 my-5" style="
    background-color: rgba(135, 135, 161, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.098);
    " method="post">
        {% csrf_token %}
        <h2 class="title text-white mb-4">
            تسجيل طالب جديد
        </h2>
        <div class="d-grid gap-4">
            {% include "common/form.html" with form=form hide_errors=True %}
        </div>
        <button class="btn btn-success mt-3 w-100" style="max-width: 400px">
            تسجيل الطالب
        </button>
    </form>
{% endblock content %}