{% load static %}

<div class="model" id="adding-hidden-id-model">
    <div class="model-header">
        <div class="title-model">إضافة معرف مخفي</div>
        <button data-close-button class="close-btn">&times;</button>
    </div>
    <div class="model-body fs-5 pb-3">
        <div class="d-flex mt-2 gap-2">
            <input name="new-id" class="form-control" type="number" min="1" placeholder="أضف معرف">
            <button id="adding-hidden-id-button" class="btn btn-success" type="button">أضف</button>
        </div>
    </div>
</div>