{% extends 'base.html' %}
{% load static %}


{% block title %}
    إضافة نقاط
{% endblock title %}


{% block content %}
    <div class="container common-box d-flex flex-column gap-3" style="margin-top: 4rem;">
        <form id="form-adding-points-search-student" action="#" class="form-control gap-3 d-flex flex-column p-4">
            {% csrf_token %}
            <h5 class="title text-white" style="background: rgb(109, 40, 193);">
                البحث عن طالب
            </h5>
            <div id="displaying-students-adding-points"></div>
            <label class="form-label" for="adding-points-search-student">اسم الطالب</label>
            <input id="adding-points-search-student" type="text" class="form-control" required>
            <button class="btn btn-primary d-flex align-items-center justify-content-center gap-2" type="submit">
                بحث <i class="bi bi-search"></i>
            </button>
        </form>
        <form id="form-adding-points" class="form-control gap-3 d-flex flex-column p-4" action="{% url 'adding_points' %}" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-column gap-1">
                <div id="error-section-for-not-choosing-student"></div>
                <input id="hidden-input-for-student-id-adding-points" type="hidden" name="student-id" value="">
                <div role="alert" id="div-for-displaying-student-in-form-body-adding-points"></div>
            </div>
            <div>
                <label class="form-label" for="adding-points-value">
                    القيمة
                </label>
                <input name="value" id="adding-points-value" type="number" class="form-control" required>
            </div>
            <div>
                <label class="form-label" for="adding-points-cause">
                    السبب
                </label>
                <select class="form-select" name="cause-id" id="adding-points-cause">
                    {% for cause in adding_causes %}
                        <option class="adding-point-cause-add-option" value="{{ cause.id }}">{{ cause }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-success d-flex align-items-center justify-content-center gap-2" type="submit">
                إضافة <i class="bi bi-plus-circle"></i>
            </button>
        </form>
        <a href="{% url 'adding_points_log' %}" class="btn btn-dark d-flex justify-content-center align-items-center gap-2 w-100">
            سجل الإضافة <i class="bi bi-journal-bookmark-fill"></i>
        </a>
    </div>
    <script src="{% static 'js/adding_points_script.js' %}"></script>
{% endblock content %}