{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/error_page_style.css' %}">
{% endblock extrastyle %}

{% block title %}
    خطأ
{% endblock title %}

{% block content %}
    <div id="main-error-page-container" class="container text-center">
        <div class="text-white p-3 bg-danger border rounded">{{ error }}</div>
        <div class="d-flex justify-content-center flex-wrap align-items-center mt-5" style="gap: 16px">
            <a href="javascript:history.back()" class="btn btn-secondary px-3">الرجوع</a>
            {% if student %}
                <div data-model-target="#model-{{ student.id }}-id-detail" class="btn btn-primary px-3">عرض التفاصيل</div>
                {% include 'models/student_detail_model.html' with student=student key="تفاصيل الطالب" type="detail" %}
                <div id="overlay"></div>
                <script src="{% static 'js/popped_up_models.js' %}"></script>
            {% endif %}
        </div>
    </div>
{% endblock content %}