{% extends 'base.html' %}
{% load static %}

{% block title %}موقع مسجد {{ masjed_name }}{% endblock title %}

{% block content %}
    <div class="alert alert-info mt-5 mx-auto" style="max-width: 700px">
        <img 
        class="img-thumbnail"
        {% if masjed_name == "الحسنين" %}
            src="{% static "imgs/hassanein.jpg" %}"
        {% elif masjed_name == "السلام" %}
            src="{% static "imgs/salam.jpg" %}"
        {% elif masjed_name == "القزاز" %}
            src="{% static "imgs/qazzaz.jpg" %}"
        {% endif %}
        alt="summer"
        >
        <a class="btn btn-lg btn-success mt-3 d-block" href="{% url "register_index" %}">
            التسجيل في الدورة الصيفية
        </a>
    </div>
    {% if messages %}
        {% for mesasge in messages %}
            <div class="alert alert-success mt-5">
                تم التسجيل بنجاح
            </div>
        {% endfor %}
    {% endif %}
    {% include 'partials/search.html' %}
    {% if ramadan or title %}
        {% include 'partials/event.html' with title=title ramadan=ramadan %}
    {% endif %}
{% endblock content %}